/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

/* Fonts */
.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

.bitter-regular {
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
  
  

:root{
--dark-bg: #463C21;
--darker-text: #3F2D21;
--white: #EFEDE7;
--darker-white: #E5E3DC;
--orangey: #CFA576;
--space-mono: "Space Mono", monospace;
--bitter: "Bitter", serif; 

}

body{
  background-color: var(--white);
}

h1, h2, h3{
  font-family: var(--space-mono);
  font-weight: bold;
  text-align: center;
}

p{
  font-family: var(--bitter);
  text-align: center;
}

h1{
  font-size: 50px;
}

h2{
  font-size: 30px;
}

h3{
  font-size:25px;
}

p{
  font-size:18px;
}

section, .floating, #hero div{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding:100px 16px;
  position:relative;
}


.highlight{
  color:var(--orangey);
}
#hero{
  height:fit-content;
  justify-content: space-between;
  padding: 100px 16px 0 16px;
}
#portrait{
  border-radius: 50%;
  box-shadow: 0px 5px 4px 5px #00000040;
  margin-top:50px;
  margin-bottom:0px;
  width:300px;
  height:300px;
}
#design{
  width:80%;
  position:relative;
}

.dark-accent{
  background-color: var(--dark-bg);
  width:100vw;
  height: 500px;
  position:absolute;
  z-index: -1;
  top:0px;
}

#about-me > h2, #about-me > p{
  color:var(--white);
}

.floating{
  background-color: var(--white);
  border-radius: 10px;
  border: 1px solid black;
  padding:50px 25px;
  margin-top:20px;
}
.floating h2, .floating h3{
  margin-top:30px;
}
.floating h2{
  margin-bottom:30px;
}

@media(min-width:425px){

}
@media(min-width:768px){
  
}
@media(min-width:1024px){
  
}
